  .app-search-box{
    /* display: inline-block; */
    width: 30%;
    float: right;
  }

  table {
    border-collapse: collapse;
    width: 100%;

  }

  table input{
    font-size: 0.9rem;
  }
  
  th, td {
    /* width: 25%; */
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #DDD;
  }
  
  th:last-child,td:last-child{
    text-align: center;
  }

  tr:hover {background-color: #D6EEEE;}

  .nav-link:hover{
    cursor: pointer;
    color: #15a362 !important;
  }

  .submenu-item:hover{
    cursor: pointer;
    color: #15a362;
  }

  .app-wrapper{
    padding: 20px;
  }

  .detailCategory{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    float: left;
  }

  .formElement{
    margin-bottom: 20px;
    width: 100%;
  }

 .formElement label{
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
 }

 .formElement input[type="text"], 
 .formElement input[type="date"]{
    display: inline-block;
    width: 500px;
    padding: 2px 10px;
    font-size: 14px;
 }

 .formElement input[type="button"]{
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 14px;
 }

 .formElement input[type="submit"]{
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 14px;
}

.formElement input[type="number"]{
    display: inline-block;
    width: 500px;
    padding: 2px 10px;
    font-size: 14px;
}

.formElement input[type="email"]{
  display: inline-block;
  width: 500px;
  padding: 2px 10px;
  font-size: 14px;
}

 .form-content h3{
    text-align: left;
    padding-left: 20px;
 }

 .formElement hr{
    display: block;
    width: 100%;
 }

 .formElement textarea{
    width: 500px;
    padding: 2px 10px;

 }

 .formElement select{
    width: 500px;
    padding: 2px 10px;
    font-size: 14px;
    margin-left: -4px;

 }

 #productImage{
    margin-left: 20px;
 }

 .productImage{
    display: inline-flex;
    align-items: center;

 }

 #back{
    display: inline-block;
    margin-left: 14px;
    padding: 1px 10px;
 }

 .count{
    display: inline-block;
    width: 60px;
    padding: 2px 10px;
    font-size: 14px;
 }

 .detailAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .detailAdminHead{
    text-align: center;
 }

 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content p:hover{
  cursor: pointer;
  color: rgb(18, 18, 18);
}

.dropdown:hover .dropdown-content {
  display: block;
}